<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <form id="inputForm" method="post" action="/save">
        <label for="input1">Input 1:</label>
        <input type="text" id="input1" name="input1"><br><br>
        
        <label for="input2">Input 2:</label>
        <input type="text" id="input2" name="input2"><br><br>
        
        <label for="input3">Input 3:</label>
        <input type="text" id="input3" name="input3"><br><br>
        
        <input type="submit" value="Save">
    </form>
</body>
</html>
